﻿@model Domain.Employee

@{
    ViewBag.Title = "Создать нового сотрудники";
}

<div class="center-b">
    <h2>Создать нового сотрудники</h2>

    @using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Surname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Surname)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BirthDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Organization.Name);
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.OrganizationId, ViewBag.Organizations as SelectList, new { @class = "form-control" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Departament.Name);
            </div>

            <div class="editor-field">
                @Html.DropDownListFor(model => model.DepartamentId, ViewBag.Departaments as SelectList, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="editor-label">Загрузить фотографию</div>
            <div class="editor-field">
                <input type="file" class="form-control" id="download" name="uploadImage" accept="image/*" />
            </div>

            <div class="button-b">
                <input type="submit" value="Создать" class="btn btn-default"/>
                @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </fieldset>
    }   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/createAndEdit")
}