﻿@model Domain.Employee

@{
    ViewBag.Title = "Удалить работника";
}

<div class="center-b">
    <h2>Удалить работника</h2>

    <fieldset>

        @if (ViewBag.Image != null)
        {
            <div class="photo">
                @Html.Raw("<img style='width:150px; height:90px;' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(ViewBag.Image) + "\" />");
            </div>
        }
        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Surname);
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Organization.Name);
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Organization.Name);
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Departament.Name);
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Departament.Name);
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BirthDate)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="button-b">
            <input type="submit" value="Удалить" class="btn btn-default"/> 
        </div>
    }
    <div>
        @Html.ActionLink("Вернуться назад к списку", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
