﻿@model IEnumerable<Domain.Departament>
<select id="DepartamentId" name="DepartamentId" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>