﻿@model Domain.Employee

@{
    ViewBag.Title = "Информация о сотруднике";
}

<div class="center-b">
    <h2>Информация о сотруднике</h2>

    <fieldset>

        @Html.HiddenFor(model => model.Id)

        @if (ViewBag.Image != null)
        {
            <div class="photo">
                @Html.Raw("<img style='width:150px; height:90px;' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(ViewBag.Image) + "\" />")
            </div>
        }

        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Surname)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Organization)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Organization.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Departament.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Departament.Name)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BirthDate)
        </div>


    </fieldset>
    <div class="button-b">
        <div>
            @Html.ActionLink("Редактировать сотрудника", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        </div>
        <div>
            @Html.ActionLink("Вернуться назад к списку", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>

</div>