﻿@using EmployeeDeskBook.Models
@model IEnumerable<Domain.Employee>

<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Организация</th>
            <th>Департамент</th>
            <th>Дата рождения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.Organization.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departament.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                        @Html.ActionLink("Редактировать информацию о работнике", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                    |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    |
                    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                        @Html.ActionLink("Удалить работника", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                </td>
            </tr>

        }
    </tbody>
    </table>
    
