﻿@using EmployeeDeskBook.Models
@using EmployeeDeskBook.Helpers;
@model EmployeeFilteringViewModel



@{
    ViewBag.Title = "Список сотрудников";
}

<div class="menu">
    <div class="navigation menu-item">
 
     @if (User.IsInRole("admin"))
      {   
        <div class="item">@Html.ActionLink("Создать нового работника", "Create", "Employees", null, new { @class = "btn btn-primary" })</div>
        <div class="item">@Html.ActionLink("К списку Организаций", "Index", "Organization", null, new { @class = "btn btn-primary" })</div>
        <div class="item">@Html.ActionLink("К списку Департаментов", "Index", "Departament", null, new { @class = "btn btn-primary" })</div>
        <div class="item">@Html.ActionLink("Вход в панель администратора", "Index", "Admin", null, new { @class = "btn btn-primary" })</div>

      }
        
</div>

@section Search {
        <div class="search-block">
            <a href="/" class="btn btn-primary" id="reset">Сбросить результаты</a>
            <input type="submit" id="submit" value="Поиск" class="btn btn-default" />
            <input type="text" name="search" id="search"  data-autocomplete-source='@Url.Action("AutocompleteSearch", "Employees")' />
        </div>
    }
    <form method="get" class="filter-form menu-item">
        <div class="filter">
            <label class="control-label">Департамент</label>
            @Html.DropDownList("departamentId", ViewBag.Departaments as SelectList,
                          htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="filter birthfilter">
            <label class="control-label date-label">Дата рождения</label>
            <div class="date-filters">
                <div class="date-block">
                    <label class="control-label">От</label>
                    @Html.TextBoxFor(e => e.FromSortDate, new { @class = "birthdate form-control", Value = Model.FromSortDate } )
                    @Html.ValidationMessageFor(model => model.FromSortDate,null)
                    @*<input type="text" value="@Model.FromSortDate" name="from" class="birthdate form-control" />*@
                </div>
                <div class="date-block">
                    <label class="control-label">До</label>
                    @Html.TextBoxFor(e => e.ToSortDate, new { @class = "birthdate form-control", Value = Model.ToSortDate })
                    @Html.ValidationMessageFor(model => model.ToSortDate, null)
                    @*<input type="text" value="@Model.ToSortDate" name="to" class="birthdate form-control" />*@
                </div>
            </div>
        </div>
        <input type="submit" value="Отфильтровать" class="filter btn btn-default btn-filter" />
        @if(Model.DepartamentId != null || Model.FromSortDate != null || Model.ToSortDate != null  ) {
            <a href="/" class="btn btn-primary" id="filter-reset">Сбросить результаты</a>
        }
    </form>

</div>

<div class="data">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Организация</th>
                <th>Департамент</th>
                <th>Дата рождения</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organization.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departament.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                        {
                            @Html.ActionLink("Редактировать информацию о работнике", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        }
                        |
                        @Html.ActionLink("Подробнее", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                        |
                        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                        {
                            @Html.ActionLink("Удалить работника", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Страница @Model.Pager.PageNumber из @Model.Pager.TotalPages
    @Html.PageLinks(Model.Pager, page => Url.Action("Index", new { fromSortDate = Model.FromSortDate, toSortDate = Model.ToSortDate, departament = Model.DepartamentId, page }))

</div>
@section Scripts {
    @Scripts.Render("~/bundles/employee")
}
