﻿* {
    padding: 0;
    margin: 0;
}
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#reset {
     visibility:hidden;
     padding: 9px;
     display: inline;
}
#filter-reset {
     display: inline;
}

.menu {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.item {
   margin: 0px 0 0 38px;
}

.table {
    text-align: center;
}
.table th {
    text-align: center;
}
.list {
    margin: 30px auto 0 auto;
}

.list th {
    margin: 5px;
    width: 132px;
}
.menu-item {
 display: flex;
 align-items:flex-end;
}
.filter-form {
    margin: 14px auto 0 auto;
    text-align: center;
}
.filter {
    display: inline-block;
    margin: 0 10px;
}
.ref {
    margin-left: 27px;
}

.search-block {
    margin: 12px 0 0 0;
    float: right;
}
.search-block #search {
    padding: 5px;
    border-radius: 5px;
}
.logout {
    width: 113px;
    height: 37px;
    margin: 13px 0 0 0;
    float: right;
    font-size: 21px;
}
.logout a {
    color: #ddd;
}
.center-b {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.center-b input {
    width: 100%;
}

.center-b .button-b {
    margin-top: 15px;
}
.button-b input,a {
    margin-top: 5px;
}

.admin-menu div {
    display: inline-block;
    margin-bottom: 10px;
}

.admin-menu div:first-child {
    margin-left: 10px;
}

.admin-menu:nth-child(2) {
    margin-left: 20px;
}

#download {
    padding: 0;
}

.items-list {
    width: 702px;
    margin: 0 auto;
} 

.photo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.picture-del {
    margin-top: 10px;
}

.birthfilter {
    display: flex;
    flex-direction: column  
}
.date-block {
    display: flex;
    align-items: center;
}

.date-filters {
    display: flex;
}
.date-filters label {
    margin-left: 10px;
}

.input-validation-error {
    border: 2px solid #f00 !important;
    background-color: #fee; 
}

.field-validation-error {
    display: none;
}