﻿@model Domain.Departament

@{
    ViewBag.Title = "Удалиь департамент";
}

<div class="center-b">
    <h2>Удалиь департамент</h2>
    <fieldset>
        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit"  value="Удалить" class="btn btn-default" />
            @Html.ActionLink("Вернуться назад к списку", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
    </div>