﻿@model Domain.Departament

@{
    ViewBag.Title = "Информация об департаменте";
}

<div class="center-b">
    <h2>Информация об департаменте</h2>
    <fieldset>
        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </fieldset>
    <div class="button-b">
        <div>
            @Html.ActionLink("Редактировать сотрудника", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        </div>
        <div>
            @Html.ActionLink("Вернуться назад к списку", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>