﻿@model Domain.Departament

@{
    ViewBag.Title = "Редактировать информацию о департаменте";
}

<div class="center-b">
    <h2>Редактировать информацию о департаменте</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="button-b">
                <input type="submit" value="Сохранить" class="btn btn-default" />
                @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </fieldset>
    }
</div>