﻿@using EmployeeDeskBook.Models
@using EmployeeDeskBook.Helpers;
@model DepartamentIndexViewModel

@{
    ViewBag.Title = "Список департаментов";
}

<div class="items-list">
    <div class="admin-menu">
        <div>
            @Html.ActionLink("Создать департамент", "Create", null, new { @class = "btn btn-primary" })
        </div>
        <div>
            @Html.ActionLink("Перейти к списку сотрудников", "Index", "Employees", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                Название департамента
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Departaments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
    Страница @Model.Pager.PageNumber из @Model.Pager.TotalPages

    @Html.PageLinks(Model.Pager, page => Url.Action("Index", new { page }))
</div>