﻿@model Domain.User

@{
    ViewBag.Title = "Создать пользователя";
}

<div class="center-b">
<h2>Создать пользователя</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Role.Name);
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList, new { @class = "form-control" })
        </div>

        <div class="button-b">
            <input type="submit" value="Создать"  class="btn btn-default"/>
            @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </fieldset>
}

</div>