﻿@model Domain.User

@{
    ViewBag.Title = "Удалиь пользователя";
}

<div class="center-b">
    <h2>Удалиь пользователя</h2>
    <fieldset>

        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Password)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Role.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Role.Name)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Удалить" class="btn btn-default"/> 
            @Html.ActionLink("Вернуться назад к списку", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>