﻿@model IEnumerable<Domain.User>

@{
    ViewBag.Title = "Список пользоывтелей";
}
<div class="items-list">
    <div class="admin-menu">
        <div>
            @Html.ActionLink("Создать пользователя", "Create", null, new { @class = "btn btn-primary" })
        </div>
        <div>@Html.ActionLink("Перейти к списку сотрудников", "Index", "Employees", null, new { @class = "btn btn-primary" })</div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
    </div>