﻿
@model EmployeeDeskBook.Models.LoginModel

@{
    ViewBag.Title = "Форма входа";
}
<div class="center-b">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Форма входа</legend>
          
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="button-b">
                <input type="submit" value="Вход" class="btn btn-default" />
                @Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { @class = "btn btn-primary" })
            </div>
        </fieldset>
    }
</div>