﻿@model EmployeeDeskBook.Models.RegisterModel

@{
    ViewBag.Title = "Форма регистрации";
}
<div class="center-b">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Форма регистрации</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="button-b">
                <input type="submit" value="Зарегестрироваться" class="btn btn-default" />
                @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "btn btn-primary" })
           </div>
        </fieldset>
    }
</div>