﻿@model Domain.Organization

@{
    ViewBag.Title = "Создать организацию";
}

<div class="center-b">
    <h2>Создать организацию</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.Label("Список департаментов")
            </div>

            <div class="editor-field">
                @Html.ListBox("deps", ViewBag.Departaments as MultiSelectList, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="button-b">
                <input type="submit" value="Создать" class="btn btn-default"/>
                @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-primary" })
            </div>
    </fieldset>
    }
</div>
