﻿@using Domain
@model Organization

@{
    ViewBag.Title = "Информация об организации";
}

<div class="center-b">
    <h2>Информация о сотруднике</h2>
    <fieldset>

        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-label">
            <label>Список департаментов</label> 
        </div>
        @foreach (Departament item in Model.Departaments)
        {
            <ul>
                <li>@item.Name</li>
            </ul>
        }
    </fieldset>
    <div class="button-b">
        <div>
            @Html.ActionLink("Редактировать сотрудника", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        </div>
        <div>
            @Html.ActionLink("Вернуться назад к списку", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>