﻿@model Domain.Organization

@{
    ViewBag.Title = "Редактировать информацию об организации";
}

<div class="center-b">
    <h2>Редактировать информацию об организации</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.Label("Список департаментов")
            </div>
            <div class="editor-field">
                @Html.ListBox("deps", ViewBag.Departaments as MultiSelectList, new { @class = "form-control" })
            </div>
            <div> 
                <input type="submit" value="Сохранить" class="btn btn-default" />
                @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </fieldset>
    }
</div>