﻿@using EmployeeDeskBook.Notification
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='@Url.Content("~/Content/Vendor/themes/base/minified/jquery.ui.autocomplete.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Vendor/themes/base/minified/jquery.ui.datepicker.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Vendor/themes/base/minified/jquery.ui.theme.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content//Vendor/themes/base/minified/jquery.ui.core.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Vendor/jquery.growl.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/App/Site.css")' rel="stylesheet" type="text/css" />
    <link href="~/Content/Vendor/bootstrap.min.css" rel="stylesheet" />
    
    
    <script src='@Url.Content("~/Scripts/Vendor/jquery-1.9.1.min.js")' type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <script src='@Url.Content("~/Scripts/Vendor/jquery-ui-1.8.24.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/Vendor/jquery.growl.js")' type="text/javascript"></script>

</head>
<body>
    <header class="navbar navbar-inverse" role="navigation" >
        <a class="navbar-brand" href="/">Список сотрудников</a>
        <div class="logout">
            @if (User.IsInRole("admin") | User.IsInRole("moderator") || User.IsInRole("user"))
            {
                @Html.ActionLink("Выйти", "LogOut", "Account", null, new { @class = "ref" })
            }
        </div>
        @RenderSection("Search",false)
        </header>
    @RenderBody()   
    
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">

        @if (NotificationList.Count != 0)
        {
            foreach(Notification notifey in NotificationList.GetAll())
            {
                if (notifey.Type == NotificationType.Notice)
                {
                    <text>
                        $.growl.notice({title: 'Успешная операция!', message: '@Html.Raw(notifey.Message)!' });
                    </text>
                }
                else if(notifey.Type == NotificationType.Error)
                {
                    <text>
                        $.growl.error({title: 'Ошибка!', message: '@Html.Raw(notifey.Message)!' });
                    </text>
                }
            }
        }

    </script> 
   </body>
  
</html>
